:root {
  font-family: Montserrat;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body, html {
  height: 100%; /* Faz com que o body ocupe toda a altura da tela */
  margin: 0; /* Remove a margem padrão do body */
  position: relative; /* Define o contexto para o posicionamento absoluto */
}

.container {
  position: absolute; /* Define o posicionamento absoluto */
  top: 50%; /* Posiciona 50% a partir do topo */
  left: 50%; /* Posiciona 50% a partir da esquerda */
  transform: translate(-50%, -50%); /* Move o container para o centro */
  width: 95%; /* Defina a largura desejada */
  max-width: 600px; /* Defina uma largura máxima, se necessário */
  display: flex;
flex-direction: column;
}


h1 {
  font-size: 2.5em;
  line-height: 1.1;
  text-align: center;
  margin: 1em 0;
}
.encurta-url{
  width: 100%;
  display: flex;
  justify-items: center;
  margin: 0 auto;
}
.encurta-url > input{
  min-width: 60%;
}
.encurta-url > button{
  min-width: 40%;
}
.input-url, .button-url {
  font-size: 1em;
  font-weight: 500;
  padding: 0.5em;
  height: 3em;
  box-sizing: border-box;
  border: 2px solid gray;
}
.input-url{
  border-radius: 8px 0px 0px 8px ;
  border-right-width: 1px;
}
.button-url {
  border-radius: 8px;
  font-family: inherit;
  background-color: #111;
  cursor: pointer;
  transition: border-color 0.25s;
  border-radius: 0px 8px 8px 0px;
  border-left-width: 1px;

}
.input-url:hover,input:focus,
.input-url:focus-visible, .button-url:hover,button:focus,
.button-url:focus-visible {
  border-color: white;
}

.copiar-nova-url{
  font-family: Roboto Mono;
  background-color: #111;
  padding: 1em;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  font-size: .9em;
}

.copiar-nova-url span:first-child {
  white-space: nowrap;
  overflow: hidden; 
  text-overflow: ellipsis;
}
.copiar-nova-url span:last-child{
    color: gray;
    display: flex;
}

.encurta-qrcode{
  border: 2px solid white;
  width: 200px;
  height: 200px;
  margin: 3em auto;
}



